/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#site-header {
	background-color: rgba(248, 249, 250, .85);
	-webkit-backdrop-filter: saturate(180%) blur(20px);
	backdrop-filter: saturate(180%) blur(20px);
}

#site-header a {
	color: rgba(33, 37, 41);
	transition: color .15s ease-in-out;
	text-decoration: none;
}

#site-header a:hover {
	color: #8e8e8e;
	text-decoration: none;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.links_footer a{
	color: rgba(33, 37, 41);
	transition: color .15s ease-in-out;
	text-decoration: none;
}

.links_footer a:hover {
	color: #8e8e8e;
}

.footer_darker {
	background-color: #f1f0f2;
}